/*
Colores:
	crema: 		#f6e6cb; 		rgb(246,230,203);
	crema2: 	#ffbd92;		rgb(255,189146);
	rojo1: 		#bf2c50;		rgb(191,44,80);
	rojo2: 		#ae1f42;		rgb(174,31,66);
	rojo3: 		#991c43;		rgb(153,28,67);
	rojo4:		#94093b;		rgb(148,9,59);
*/

/*GENERALES*/
	body{
		background-color:#f6e6cb; 
	}
	body,input, h1, h2, h3, h4, h5, select, p, a{
		font-family: 'Lato', sans-serif;
	}
	a, a:hover{
		text-decoration: none;
	}
	ul{
		list-style: none;
		margin: 0; padding: 0;
	}
/*NAVBAR*/
	.nb-btn-mini{
		background-color: #bf2c50;
	}
		 .nb-btn-mini .icon-bar{
		 	background-color:  white;
		 }

	.nb-color{
		background-color:#991c43; 
	}
	.logotipo{
		margin: 0; padding: 0 15px;
	}
	.logoNav{
		width: 50px; height: 50px;
		margin: 0; padding: 0;
	}
	.nb-link{
		font-size: 17pt;
		color:#FFFFFF;
	}
	.nb-search{
		background-color: white;
		border: none;
		border-radius: 30px;
	}
	.nb-search-btnok{
		background-color: white;
		border: 1px solid white;
		border-radius: 30px;
	}

/*CONTENIDO*/

.elart{
	background-color: #991c43;
	margin-bottom: 20px;
}
.foto{
}
.foto img{
	height: 250px; width: 250px;
	display: block;
	margin: 0 auto;
}
.foto h4{
	color: white;
	text-align: center;
	font-size: 20pt;
}
.descrip, .follow{
	padding: 15px;
}
.descrip p{	
	color: white;
	font-size: 20pt;
}
.follow img{
	display: inline-block;
	height: 50px; width: 50px;
	margin-right: 5px;
}
.follow a{
	color: white;
	text-decoration: none;
	font-size: 15pt;
	margin: 10px;
}
.mas{
	color: white;
	font-size: 20pt;
}

/*FOOTER*/
	.pie{
    position: absolute;
    width: 100%;
    background-position: bottom;
    background-color: #991c43;;
		}
		.pie a{
	        color: white;
	     	}
		     .pie a:hover{        
				text-shadow: 0 0 15px #FFFFFF;
				transform: scale(1.05);
			}
		.pie li, .pie p{
			color: white;
		}

		.category, .groups, .solos, .contact{
			margin: 15px 0;
		}
		.category, .groups, .solos{
		 	text-align: left;
		 }
		.contact{
		 	text-align: right;
		 }
		 .img1, .img2, .img3{
		 	height: 35px;
		 	width: 35px;
		 	margin: 5px;
		 }
		 .img1:hover, .img2:hover, .img3:hover{
		 	border-radius: 30px;
		 	box-shadow:0px 0px 15px rgba(255,255,255,.5);
		 	transform: scale(1.05);
		 }
		 .lineaverse{
		 	display: none;
		 }