/*
Colores:
	crema: 		#f6e6cb; 		rgb(246,230,203);
	crema2: 	#ffbd92;		rgb(255,189146);
	rojo1: 		#bf2c50;		rgb(191,44,80);
	rojo2: 		#ae1f42;		rgb(174,31,66);
	rojo3: 		#991c43;		rgb(153,28,67);
	rojo4:		#94093b;		rgb(148,9,59);
*/

/*GENERALES*/
	body{
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/chino1.jpg');
		overflow-x: hidden;
	}
	body,input, h1, h2, h3, h4, h5, select, p, a{
		font-family: 'Lato', sans-serif;
	}
	a, a:hover{
		text-decoration: none;
	}


/*LOGIN*/
	.login{
		z-index: 101;
		position: absolute;
		top: 15%;
		padding: 50px 0;
		background-color: rgba(246,230,203,0.4);
		border-radius: 30px;
		}
			@keyframes moveLI {
			    from {left: 0px;}
			    to {left: -1100px;}
				}
				.animacionLI{
					animation: moveLI 3s;
					animation-timing-function: ease;
					left: -1100px;
				}

		.logo img{	
			width: 300px;
			height: 162px;
		}
		.login h3{
			font-size: 15pt;		
			font-weight: bold;
			text-align: center;
		}
		.botonSU, .botonLI{
			width: 80%;
			height: 55px;
			margin: 8px;
			padding:  5px 0;
			background-color: #bf2c50; /*rojo1*/
			border:2px solid #bf2c50;
			border-radius: 30px;
			color: white;
			font-size: 20pt;
		}

/*yesLOGIN*/
	.yeslogin{
		display: none;
		z-index: 101;
		position: absolute;
		top: 15%;
		left: 1100px;
		padding: 50px 0;
		background-color: rgba(246,230,203,0.4);
		border-radius: 30px;
		}
			@keyframes moveYLI {
			    from {left: 1100px;}
			    to {left: 0px;}
				}
				.animacionYLI{
					display: inline;
					animation: moveYLI 3s;
					animation-timing-function: ease;
					left: 0px;
				}
		.logo img{	
			width: 300px;
			height: 162px;
		}
		.yeslogin h3{
			font-size: 15pt;		
			font-weight: bold;
			text-align: center;
		}
		.email, .password{
			width: 80%;
			height: 40px;
			margin: 8px;
			padding:  5px;
			border:2px solid white;
			border-radius: 30px;
			font-size: 20pt;
			display: block;
		}
		.OkLI{
			width: 30%;
			height: 35px;
			margin: 8px;
			background-color: #bf2c50; /*rojo1*/
			border:2px solid #bf2c50;
			border-radius: 30px;
			color: white;
			font-size: 15pt;
	}

/*REGISTRO*/
	.registro{		
		display: none;
		z-index: 101;
		position: absolute;
		top: 5%;
		border-radius: 45px;
		background-color: rgba(246,230,203,0.4);
	}
		@keyframes moveSU {
			    from {left: 1100px;}
			    to {left: 0px;}
				}
				.animacionSU{
					display: inline;
					animation: moveSU 3s;
					animation-timing-function: ease;
					left: 0px;
				}
		@keyframes moveSUtoLI {
			    from {left: 0px;}
			    to {left: -1200px;}
				}
				.animacionSUtoLI{
					animation: moveSUtoLI 3s;
					animation-timing-function: ease;
					left: -1200px;
				}
		.descSU{
			text-align:center;
		}
		.descSU, .textSU{
			font-size: 16pt;
			margin-top: 30px;			
			color: black;
		}
		.textSU{
			padding: 3px;
			border: 2px solid white;
			border-radius: 30px;
		}
		.OkSU{
			width: 45%;
			height: 40px;
			margin: 15px;
			padding: 5px 0;
			background-color: #bf2c50;
			border:2px solid #bf2c50;
			border-radius: 30px;
			color: white;
			font-size: 15pt;
		}
		.registro p{
			color: black;
			font-size: 15pt;
		}
		.loginback{	
			display: inline-block;	
			height: 40px;
			padding: 5px 0;
			color: #bf2c50;
			font-size: 15pt;
		}
		.loginback:hover{
			font-size: 15;
			color:#ffffff;			
			text-shadow: 0 0 15px #ffffff;
			transform: scale(1.05);
		}
		
/*FOOTER*/
	.pie{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-position: bottom;
    background-color: #991c43;;
	}
	.pie a{
        color: black;
     	}
     .pie a:hover{
         color: white;         
		text-shadow: 0 0 15px #FFFFFF;
		transform: scale(1.05);
		}
	.about{
	    font-size: 15PT;
		}

	.about, .cosita, .cr{
	    color: white;
	    padding: 3px 0;
			}

/*RESPONSIVA*/
	@media (max-width: 1024px) {
			body{				
				background-color: rgb(246,230,203);

				background-size: cover;
				background-repeat: no-repeat;
				background-image: none;
			}
		 	.fondo img{
		 		display: none;
		 	}
		 	.login{
			 	top: 10%;
			 	position: relative;
		 	}
				.animacionLI{
					animation: none;
					animation-timing-function: none;
					left: 0px;
				}
			.yeslogin{
				display: none;
				z-index: 101;
				position: absolute;
				top: 10%;
				left: 1100px;
				padding: 50px 0;
				background-color: rgba(246,230,203,1);		
			}
				.animacionYLI{
						display: inline;
						animation: none;
						animation-timing-function: none;
						left: 0px;
				}
			.registro{
				display: none;
				z-index: 101;
				position: absolute;
				left: 1100px;
				padding: 0;
				background-color: rgba(246,230,203,1);		
			}
				.descSU, .textSU{
					margin-top: 10px;
					}
				.animacionSU{
						display: inline;
						animation: none;
						animation-timing-function: none;
						left: 0px;
				}
				.animacionSUtoLI{
						display: inline;
						animation: none;
						animation-timing-function: none;
						left: 0px;
				}
				.hideLogin{
					display: none;
				}
	}


