/*
Colores:
	crema: 		#f6e6cb; 		rgb(246,230,203);
	crema2: 	#ffbd92;		rgb(255,189146);
	rojo1: 		#bf2c50;		rgb(191,44,80);
	rojo2: 		#ae1f42;		rgb(174,31,66);
	rojo3: 		#991c43;		rgb(153,28,67);
	rojo4:		#94093b;		rgb(148,9,59);
*/

/*GENERALES*/
	body{
		background-color:#f6e6cb; 
	}
	body,input, h1, h2, h3, h4, h5, select, p, a{
		font-family: 'Lato', sans-serif;
	}
	a, a:hover{
		text-decoration: none;
	}
	ul{
		list-style: none;
		margin: 0; padding: 0;
	}
/*NAVBAR*/
	.nb-btn-mini{
		background-color: #bf2c50;
	}
		 .nb-btn-mini .icon-bar{
		 	background-color:  white;
		 }

	.nb-color{
		background-color:#991c43; 
	}
	.logotipo{
		margin: 0; padding: 0 15px;
	}
	.logoNav{
		width: 50px; height: 50px;
		margin: 0; padding: 0;
	}
	.nb-link{
		font-size: 17pt;
		color:#FFFFFF;
	}
	.nb-search{
		background-color: white;
		border: none;
		border-radius: 30px;
	}
	.nb-search-btnok{
		background-color: white;
		border: 1px solid white;
		border-radius: 30px;
	}

/*CONTENIDO*/
.corcho{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/corcho.png');
	border: 10px solid #959498;
	margin: 20px auto;
}
	.PP{
		-webkit-transform: rotate(352deg);
    	transform: rotate(352deg);
    	z-index: 103;
    	margin-top: 3%;
    	box-shadow:18px 11px 15px rgba(0,0,0,.5);
		}
		.PolaroidProfile{
			height: 270px; width: 255px;
			background-color: #f4f4f4;
			margin: 0 auto;
			}
			.PolaroidProfile img{
				margin: 20px;
				height: 220px; width: 215px;
			}
		.NameProfile{
			height:50px; width: 255px;		
			background-color: #f4f4f4;
			margin: -1px auto 0 auto;
			}
			.NameProfile h4{
				margin: 0;
				text-align: center;
				color: black;
				font-size: 25pt;
			}
	.note{
		padding: 15px;
    	margin-top: 3%;
    	background-size: cover;
		background-repeat: no-repeat;
    	background-image: url('../img/note.png');
		}
		.name{
			padding: 10% 0 0 19%;
			z-index: 101;
			display: block;
			font-size: 17pt;
		}
		.bd{
			padding: 2% 0 0 19%;
			z-index: 101;
			display: block;
			font-size: 17pt;
		}
		.dsc{
			padding: 2% 0 0 19%;
			z-index: 101;
			display: block;
			font-size: 17pt;
		}

	.likes{
		background-color: #991c43;
		display: block;
		border: 3px solid white;
		border-style: dashed;
		border-radius: 10px;
		margin-top: 3%;
		}
		.letra h3{
			color: white;
			text-align: center;
		}

	.cinta{
		z-index: 105;
		margin: 0 auto;
		height: 50px; width: 60px;
		}
		.cinta img{
			z-index: 105;
			height: 75px; width: 75px;
		}
	.like_GSDA{
		margin: 5% auto;
		}
		.like_G,.like_S,.like_D,.like_A{
			z-index: 101;
			margin: 0;
		}
		.PhotoG, .PhotoS, .PhotoD, .PhotoA{
			z-index: 101;
			background-color: #f4f4f4;
			}
			.PhotoG img,
			.PhotoS img,
			.PhotoD img,
			.PhotoA img{
				z-index: 101;
				margin:  0 auto;
				padding: 20px 0 ;
				width: 200px;
			}
		.NameG, .NameS,.NameD,.NameA{
			height:50px;		
			background-color: #f4f4f4;
			margin: -1px auto 0 auto;
			}
			.NameG h4,
			.NameS h4,
			.NameD h4,
			.NameA h4{
				margin: 0;
				text-align: center;
				color: black;
				font-size: 20pt;
			}

/*FOOTER*/
	.pie{
    position: absolute;
    width: 100%;
    background-position: bottom;
    background-color: #991c43;;
		}
		.pie a{
	        color: white;
	     	}
		     .pie a:hover{        
				text-shadow: 0 0 15px #FFFFFF;
				transform: scale(1.05);
			}
		.pie li, .pie p{
			color: white;
		}

		.category, .groups, .solos, .contact{
			margin: 15px 0;
		}
		.category, .groups, .solos{
		 	text-align: left;
		 }
		.contact{
		 	text-align: right;
		 }
		 .img1, .img2, .img3{
		 	height: 35px;
		 	width: 35px;
		 	margin: 5px;
		 }
		 .img1:hover, .img2:hover, .img3:hover{
		 	border-radius: 30px;
		 	box-shadow:0px 0px 15px rgba(255,255,255,.5);
		 	transform: scale(1.05);
		 }
		 .lineaverse{
		 	display: none;
		 }

/*RESPONSIVA*/
	@media (max-width: 1024px) {
		.corcho{
			background-image: none;
			background-color: #bf2c50;
			border: none;
		}
		/*polaroid perfil*/
			.PP{
			-webkit-transform: rotate(0deg);
	    	transform: rotate(0deg);
			padding: 5px;
	    	box-shadow: none;
	    	z-index: 100;
		}
			.PolaroidProfile{
				height: 200px; 
			}
				.PolaroidProfile img{
					height: 160px; width: 160px;
				}
			.NameProfile{
				height:40px; width: 200px;	
			}
			.NameProfile h4{
				font-size: 20pt;
			}

		.note{
			background-color: #ae1f42;
			background-image: none;
			color: white;
			z-index: 100;
			}
			.name, .bd, .dsc{
				padding: 0.5%;
				font-size: 13pt;
			}

		.cinta{
			display: none;
		}
		/*footer*/
			.nb-link{
				font-size: 13pt;
			}
			.category, .groups, .solos, .contact{
			text-align: center;
			}
			.lineaverse{
		 	display: inline;
		 }

	}