/*
Colores:
	crema: 		#f6e6cb; 		rgb(246,230,203);
	crema2: 	#ffbd92;		rgb(255,189146);
	rojo1: 		#bf2c50;		rgb(191,44,80);
	rojo2: 		#ae1f42;		rgb(174,31,66);
	rojo3: 		#991c43;		rgb(153,28,67);
	rojo4:		#94093b;		rgb(148,9,59);
*/

/*GENERALES*/
	body{
		background-color:#f6e6cb;
		overflow-x: hidden;
	}
	body,input, h1, h2, h3, h4, h5, select, p, a{
		font-family: 'Lato', sans-serif;
	}
	a, a:hover{
		text-decoration: none;
	}
	ul{
		list-style: none;
		margin: 0; padding: 0;
	}


/*--------------------------------------------NAVBAR--------------------------------------------------*/
	.navbar{
		background-color: white;
		box-shadow: 3px 3px 3px #E7E7E7;
		color:gray;
	}
	.nb-link,.nb-link:hover, .menusito{
	    font-size: 14pt;
	    color:#94093b;
	}
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background-color: #eee;border-color: #94093b;}
	.navbar .search-btn{background-color: #E7E7E7;}
	.navbar .search-btn:hover{background-color: #991c43;}
	.nb-search{
		background-color: white;
		border: none;
		border-radius: 30px;
		box-shadow: 0px 3px 0px rgba(0,0,0,.3);
	}
	.nb-search-btnok{
		background-color: white;
		border: 1px solid white;
		border-radius: 30px;
		box-shadow: 0px 4px 0px rgba(0,0,0,.3);
	}
	.navbar .form-group{width: 100%;}

	.nb-btn-mini{background-color: #bf2c50;}
	.nb-btn-mini .icon-bar{background-color:  white;}

	.logotipo{margin: 0; padding: 0 15px;}
	.logoNav{width: 47px; height: 47px;	margin: 0; padding: 0;}
	.logotipo img{box-shadow: 0px 3px 0px rgba(0,0,0,.3); border-radius: 130px;}

/*--------------------------------------------FOOTER--------------------------------------------------*/
	.pie{
    position: absolute;
    width: 100%;
    background-position: bottom;
    background-color: #991c43;;
		}
		.pie a{ color: white;}
		     .pie a:hover{        
				text-shadow: 0 0 15px #FFFFFF;
				transform: scale(1.05);
			}
		.pie li, .pie p{color: white;}
		.category, .groups, .solos, .contact{margin: 15px 0;}
		.category, .groups, .solos{text-align: left;}
		.contact{text-align: right;}
		 .img1, .img2, .img3{
		 	height: 35px;
		 	width: 35px;
		 	margin: 5px;
		 }
		 .img1:hover, .img2:hover, .img3:hover{
		 	border-radius: 30px;
		 	box-shadow:0px 0px 15px rgba(255,255,255,.5);
		 	transform: scale(1.05);
		 }
		 .lineaverse{display: none;}
	
/*--------------------------------------------- HOME--------------------------------------------------*/
	.carouselBoard{	height: 20%;}

	.carouselPanel,.carouselMenu{
		padding: 0px;
		background-color:#94093b;
		height:300px;
	}

	.carouselMenu ul {height: 100%; }

	.carouselMenu li { margin:0px; height: 60px;}

	.nav-stacked > li + li{margin:0px;}

	.carouselMenu a{color: white; font: normal normal 14px Verdana, sans-serif;min-height: 100%; padding: 20%;}

	.carouselMenu li.active a, .carouselMenu li.active a:focus{ background-color:#991c43;}

	.carouselMenu li a:hover, .carouselMenu li.active a:hover{color: #991c43;background-color:#f6e6cb;}

	.separator{width: 100%; height: 10%; background-color:#bf2c50; }


	.newsBoard{
		margin: auto;
		width: auto;
		padding: 3%;
		background-color: rgb(246,230,203);
		border-radius: 5px;
	}

	.newsBoard p{padding: 5%; font-style: italic; color:#AE8989; }

	.newsBoard h1{color: #991c43;}

	.newsPanel{padding: 2%; height: 100%;}
	.newsPanel img{height: 300px;}


	.btn-outline {
	    background-color: rgba(246,230,203,1);;
	    color: inherit;
	    transition: all .5s;
	}

	.btn-primary.btn-outline { color: #428bca;}

	.btn-success.btn-outline {color: #5cb85c;}

	.btn-info.btn-outline {  color: #5bc0de;}

	.btn-warning.btn-outline {color: #f0ad4e;}

	.btn-danger.btn-outline {color: #94093b;}

	.btn-primary.btn-outline:hover,
	.btn-success.btn-outline:hover,
	.btn-info.btn-outline:hover,
	.btn-warning.btn-outline:hover,
	.btn-danger.btn-outline:hover {
	    color: #fff;
	}

/*------------------------------------------ PROFILE--------------------------------------------------*/
	.corcho{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/corcho.png');
	border: 10px solid #959498;
	margin: 20px 8%;
	}
	.PP{
		-webkit-transform: rotate(352deg);
    	transform: rotate(352deg);
    	z-index: 103;
    	margin-top: 3%;
    	box-shadow:18px 11px 15px rgba(0,0,0,.5);
		}
		.PolaroidProfile{
			height: 270px; width: 255px;
			background-color: #f4f4f4;
			margin: 0 auto;
			}
			.PolaroidProfile img{
				margin: 20px;
				height: 220px; width: 215px;
			}
		.NameProfile{
			height:50px; width: 255px;		
			background-color: #f4f4f4;
			margin: -1px auto 0 auto;
			}
			.NameProfile h4{
				margin: 0;
				text-align: center;
				color: black;
				font-size: 25pt;
			}
	.note{
		padding: 15px;
    	margin-top: 3%;
    	background-size: cover;
		background-repeat: no-repeat;
    	background-image: url('../img/note.png');
		}
		.name{
			padding: 10% 0 0 19%;
			z-index: 101;
			display: block;
			font-size: 17pt;
		}
		.bd{
			padding: 2% 0 0 19%;
			z-index: 101;
			display: block;
			font-size: 17pt;
		}
		.dsc{
			padding: 2% 0 0 19%;
			z-index: 101;
			display: block;
			font-size: 17pt;
		}
	.likes{
		display: inline-block;
		border-radius: 10px;
		margin-top: 3%;
		}
	.likes img {
		display: block; margin: 0 auto;
		height: 113px; width: 300px;
		}

	.cinta{
		z-index: 105;
		margin: 0 auto;
		height: 50px; width: 60px;
		}
		.cinta img{
			z-index: 105;
			height: 75px; width: 75px;
		}
	.like_GSDA{
		margin: 5% auto;
		}
		.like_G,.like_S,.like_D,.like_A{
			z-index: 101;
			margin: 0;
		}
		.PhotoG, .PhotoS, .PhotoD, .PhotoA{
			z-index: 101;
			background-color: #f4f4f4;
			}
			.PhotoG img,
			.PhotoS img,
			.PhotoD img,
			.PhotoA img{
				z-index: 101;
				margin:  0 auto;
				padding: 20px 0 ;
				width: 200px;
			}
		.NameG, .NameS,.NameD,.NameA{
			height:50px;		
			background-color: #f4f4f4;
			margin: -1px auto 0 auto;
			}
			.NameG h4,
			.NameS h4,
			.NameD h4,
			.NameA h4{
				margin: 0;
				text-align: center;
				color: black;
				font-size: 20pt;
			}
	/*RESPONSIVA*/
	@media (max-width: 1020px) {
		.corcho{
			background-image: none;
			background-color: #bf2c50;
			border: none;
		}
		/*polaroid perfil*/
			.PP{
			-webkit-transform: rotate(0deg);
	    	transform: rotate(0deg);
			padding: 0px;
	    	box-shadow: none;
	    	z-index: 100;
		}
			.PolaroidProfile{
				height: 200px; width: 200px;
				}
				.PolaroidProfile img{
					height: 160px; width: 160px;
				}
			.NameProfile{
				height:40px;
				width: 200px;	
			}
				.NameProfile h4{
					font-size: 20pt;
				}

		.note{
			background-color: #ae1f42;
			background-image: none;
			color: white;
			z-index: 100;
			padding:0;
			}
			.name, .bd, .dsc{
				padding: 0.5%;
				font-size: 13pt;
				text-align: center;
			}

		.cinta{
			display: none;
		}
		/*footer*/
			.nb-link{
				font-size: 13pt;
			}
			.category, .groups, .solos, .contact{
			text-align: center;
			}
			.lineaverse{
		 	display: inline;
		 }

		 	.PhotoG, .PhotoS, .PhotoD, .PhotoA{
				background-color: #ae1f42;
			}
			.NameG, .NameS,.NameD,.NameA{
			height:35px;		
			background-color:  #ae1f42;
			}
			.NameG h4,
			.NameS h4,
			.NameD h4,
			.NameA h4{
				text-align: center;
				color: white;
				font-size: 15pt;
			}

	}

/*------------------------------------------- ARTIST--------------------------------------------------*/
	.elart{
		background-color: #991c43;
		margin: 20px 8%;
		border-radius: 30px;
		padding: 20px;
		}
	.smolbio{
		background-color: white;
		border-radius: 30px;
		text-align: center;
		font-size: 25px;
		color: black;
		margin: 5px;
		}

	.foto{
		margin: 15px auto;
		}
		.foto img{
			height: 270px; width: 270px;
			display: block;
			margin: 0 auto;
			}
		.foto h4{
			color: white;
			text-align: center;
			font-size: 20pt;
			}

	.descrip, .follow{
		padding: 20px;
		}
	.descrip ul{	
			color: white;
			font-size: 15pt;
			margin: 15px auto;
		}
	.fol1:hover, 
	.fol2:hover{
		text-shadow: 0 0 15px #FFFFFF;
		transform: scale(1.05);
		}
	.fol1,.fol2{
		margin-bottom: 20px;
		}
		.follow img{
			display: inline-block;
			height: 50px; width: 50px;
			margin-right: 5px;
			}
		.follow a{
			color: white;
			text-decoration: none;
			font-size: 15pt;
			margin: 10px;
			}
	.mas{
		color: white;
		font-size: 20pt;
		}
	.mas p{		
			color: white;
			font-size: 15pt;
			margin: 1%;
		}
	.mas ul{
			color: white;
			font-size: 13pt;
			margin-top: 15px;
			}
			.mas li{
				margin: 20px;
				}	
			.pabajo{
				cursor: pointer;
				margin-top: 2px;
				margin-right: 1%;
				float: right;
				color: black
				}

/*------------------------------------------- CONFIG--------------------------------------------------*/
	.config{
		background-color: #991c43;
		margin: 20px 8%;
		border-radius: 30px;
		}

	.tittle-edt{
		background-color: white;
		border-radius: 30px;
		text-align: center;
		font-size: 25px;
		color: black;
		margin: 1.5% auto;
		width: 50%;
		}
	.justclick{
		position: absolute;
		left: 58%;
		}
		.justclick img{height: 106px; width: 150px;}
	.fotito{
		height: 250px;
		width: 250px;
		margin: 15px auto;
		}		
			.uploader {
				position:relative;
				top: 0;
			    left: 0; 
			    right: 0;
			    bottom: 0; 
				overflow:hidden; 
				height: 250px;
				width: 250px;
				background:transparent; 
				border:5px dashed white;
				border-radius: 130px;
			}

			#filePhoto{
			    position:absolute;
			    width:250px;
			    height:250px;
			    top:0;
			    left:0;
			    z-index:2;
			    opacity:0;
			    cursor:pointer;
				border-radius: 130px;
			}
			.uploader img{
			    position:absolute;
			    width:250px;
			    height:250px;
			    top: 0;
			    left: 0;
			    z-index:1;
			    border:none;
				border-radius: 130px;
			}
	.descE{
		font-size: 16pt;			
		color: white;
		}
	.textE{
		margin: 5px auto; 
		font-size: 16pt;			
		color: black;
		border: none;
		border-radius: 30px;
		}
	.OkEdit{
		width: 100px;
		height: 40px;
		margin: 15px;
		background-color: #bf2c50;
		border:2px solid #fff;
		border-radius: 30px;
		color: white;
		font-size: 15pt;
			}
