/*
Colores:
	crema: 		#f6e6cb; 		rgb(246,230,203);
	crema2: 	#ffbd92;		rgb(255,189146);
	rojo1: 		#bf2c50;		rgb(191,44,80);
	rojo2: 		#ae1f42;		rgb(174,31,66);
	rojo3: 		#991c43;		rgb(153,28,67);
	rojo4:		#94093b;		rgb(148,9,59);
*/

/*GENERALES*/
	body{
		overflow-x: hidden;
		overflow-y: hidden;
	}
	body,input, h1, h2, h3, h4, h5, select, p, a{
		font-family: 'Lato', sans-serif;
	}
	a, a:hover, a:visited{
		text-decoration: none;
	}

/*BACKGROUND*/
	#rotating-item-wrapper {
		z-index: 100;
	    position: relative;
	    width: 100%;
	    height: 800px;
	    background-color: black;
	     height: 100%;
	}
	.rotating-item {
	    display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

/*LOGIN*/
	.login{
		z-index: 101;
		position: absolute;
		top: 15%;
		padding: 50px 0;
		background-color: rgba(246,230,203,0.4);
		border-radius: 30px;
		}
			@keyframes moveLI {
			    from {left: 0px;}
			    to {left: -1100px;}
				}
				.animacionLI{
					animation: moveLI 2s;
					animation-timing-function: ease;
					left: -1100px;
				}

		.logo img{	
			width: 300px;
			height: 162px;
		}
		.login h3{
			font-size: 15pt;		
			font-weight: bold;
			text-align: center;
		}
		.botonSU, .botonLI{
			width: 80%;
			height: 55px;
			margin: 8px;
			padding:  5px 0;
			background-color: #bf2c50; /*rojo1*/
			border:2px solid #bf2c50;
			border-radius: 30px;
			color: #fff;
			font-size: 20pt;
			box-shadow: 0 6px #fff;
			outline: none;
			}
			.botonSU:hover, .botonLI:hover{
				 background-color: #94093b;
				 border:2px solid #94093b;
			}
			.botonSU:active, .botonLI:active {
			  background-color: #bf2c50;
			  border:2px solid #bf2c50;
			  box-shadow: 0 3px #fff;
			  transform: translateY(3px);
			}

/*yesLOGIN*/
	.yeslogin{
		display: none;
		z-index: 101;
		position: absolute;
		top: 15%;
		left: 1100px;
		padding: 50px 0;
		background-color: rgba(246,230,203,0.4);
		border-radius: 30px;
		}
			@keyframes moveYLI {
			    from {left: 1100px;}
			    to {left: 0px;}
				}
				.animacionYLI{
					display: inline;
					animation: moveYLI 2s;
					animation-timing-function: ease;
					left: 0px;
				}
			@keyframes moveLItoSU {
			    from {left: 0px;}
			    to {left: -1200px;}
				}
				.animacionLItoSU{
					animation: moveLItoSU 2s;
					animation-timing-function: ease;
					left: -1200px;
				}
		.logo img{	
			width: 300px;
			height: 162px;
		}
		.yeslogin h3{
			font-size: 15pt;		
			font-weight: bold;
			text-align: center;
		}
		.email, .password{
			width: 80%;
			height: 40px;
			margin: 8px;
			padding:  5px;
			border:2px solid white;
			border-radius: 30px;
			font-size: 20pt;
			display: block;
		}
		.OkLI{
			width: 30%;
			height: 35px;
			margin: 8px;
			background-color: #bf2c50; /*rojo1*/
			border:2px solid #bf2c50;
			border-radius: 30px;
			color: white;
			font-size: 15pt;
			box-shadow: 0 6px #fff;
			outline: none;
			}
			.OkLI:hover{
				 background-color: #94093b;
				 border:2px solid #94093b;
			}
			.OkLI:active{
			  background-color: #bf2c50;
			  border:2px solid #bf2c50;
			  box-shadow: 0 3px #fff;
			  transform: translateY(3px);
			}

	.yeslogin p{
			color: black;
			font-size: 15pt;
			}
			.singupback{	
				display: inline-block;	
				height: 40px;
				padding: 5px 0;
				color: #bf2c50;
				font-size: 15pt;
			}
			.singupback:hover{
				font-size: 15;
				color:#ffffff;			
				text-shadow: 0 0 15px #ffffff;
				transform: scale(1.05);
			}

/*REGISTRO*/
	.registro{		
		display: none;
		z-index: 101;
		position: absolute;
		top: 5%;
		border-radius: 45px;
		background-color: rgba(246,230,203,0.4);
	}
		@keyframes moveSU {
			    from {left: 1100px;}
			    to {left: 0px;}
				}
				.animacionSU{
					display: inline;
					animation: moveSU 2s;
					animation-timing-function: ease;
					left: 0px;
				}
		@keyframes moveSUtoLI {
			    from {left: 0px;}
			    to {left: -1200px;}
				}
				.animacionSUtoLI{
					animation: moveSUtoLI 2s;
					animation-timing-function: ease;
					left: -1200px;
				}
		.descSU{
			text-align:center;
			}
			.descSU, .textSU{
				font-size: 16pt;
				margin-top: 30px;			
				color: black;
			}
		.textSU{
			padding: 3px;
			border: 2px solid white;
			border-radius: 30px;
		}
		.OkSU{
			width: 45%;
			height: 40px;
			margin: 15px;
			padding: 5px 0;
			background-color: #bf2c50;
			border:2px solid #bf2c50;
			border-radius: 30px;
			color: white;
			font-size: 15pt;
			box-shadow: 0 6px #fff;
			outline: none;
		}
			.OkSU:hover{
				 background-color: #94093b;
				 border:2px solid #94093b;
			}
			.OkSU:active{
			  background-color: #bf2c50;
			  border:2px solid #bf2c50;
			  box-shadow: 0 3px #fff;
			  transform: translateY(3px);
			}
		.registro p{
			color: black;
			font-size: 15pt;
			}
		.loginback{	
			display: inline-block;	
			height: 40px;
			padding: 5px 0;
			color: #bf2c50;
			font-size: 15pt;
			}
			.loginback:hover{
				font-size: 15;
				color:#ffffff;			
				text-shadow: 0 0 15px #ffffff;
				transform: scale(1.05);
				}
		
/*FOOTER*/
	.pie{
	z-index: 101;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-position: bottom;
    background-color: #991c43;;
	}
	.pie a{
        color: black;
     	}
     .pie a:hover{
         color: white;         
		text-shadow: 0 0 15px #FFFFFF;
		transform: scale(1.05);
		}
	.about{
	    font-size: 15PT;
		}

	.about, .cosita, .cr{
	    color: white;
	    padding: 3px 0;
			}

/*about us*/
.aboutus {
	z-index: 101;
  position: absolute;
  top: 45%;
  left: 10%;
  text-align: center;
	}
	.aboutus a {
	  display: inline-block;
	  font-size: 30px;
	  transition: all 0.2s;
	}
		.btnAbout {
		  border-radius: 50px;
		  padding: 10px;
		  color: #fff;
		  background-color: #bf2c50;
		}
		.btnAbout:hover {
		  color: #fff;
		  transform: scale(1.1);
		}

.landing{	
	z-index: 102;
	position: relative;
	top: 800px;
	background-color: #f6e6cb;
	width: 100%;
	height: 800px;
	margin:0px;
	}

	.backIndex{
		position: absolute;
		margin:0px;
		}
		.backIndex a {color: #fff; text-align: center;}
		.backIndex span{font-size: 65px;}

	@keyframes landd{ 
	    from {top: 800px;} 
	    to {top:0px;} 
		}
		.animacionLand{
			animation: landd 2s linear 0s;
			animation-timing-function: ease;
			top: 0px;
			}
		.addScroll{overflow-y: inherit;}

	@keyframes backk{ 
	    from {top: 0px;} 
	    to {top:800px;} 
		}
		.animacionIndex{
			animation: backk 2s linear 0s;
			animation-timing-function: ease;
			top:800px;
			}
		.hideScroll{overflow-y: hidden;}
/*RESPONSIVA*/
	@media (max-width: 1024px) {
			body{				
				background-color: rgb(246,230,203);
				background-size: cover;
				background-repeat: no-repeat;
				background-image: none;
			}
			#rotating-item-wrapper{
				z-index: 80;
				display: none;
			}
		 	.fondo img{
		 		display: none;
		 		}
		 	.login{
			 	position: relative;			 	
			 	top: 0px;
		 		}
				.animacionLI{
					animation: none;
					animation-timing-function: none;
					left: 0px;
				}
			.yeslogin{
				display: none;
				z-index: 101;
				position: absolute;
				top: 0px;
				left: 1100px;
				padding: 50px 0;
				background-color: rgba(246,230,203,1);		
				}
				.animacionYLI{
						display: inline;
						animation: none;
						animation-timing-function: none;
						left: 0px;
				}
			.registro{
				position: absolute;
				top: 0px;
				display: none;
				z-index: 101;
				position: absolute;
				left: 1100px;
				padding: 0;
				background-color: rgba(246,230,203,1);		
			}
				.descSU, .textSU{
					margin-top: 10px;
					}
				.animacionSU{
						display: inline;
						animation: none;
						animation-timing-function: none;
						left: 0px;
				}
				.animacionSUtoLI{
						display: inline;
						animation: none;
						animation-timing-function: none;
						left: 0px;
				}
				.hideLogin{
					display: none;
				}
			.aboutus{
				display: none;
			}
	}




	
	.Landpage-item img{
		width: 100%;
		height: 100%;
		display: inline-block;
		}

		html, body,.landing,.backIndex {
    height: 100%;
    padding: 0px;

	}

	.landing-button{
		height: 10%;
	}
	.Landpage{
		height:90%;
		margin:0px;
	}

		.item{
		height:40%;
	}

	.viewport {
	    height: 100%;
	    overflow: hidden;
	}
		.Landpage-item{

			height:100%;
			padding: 0px;

		}

		.panel-transparent{ 
		 background: none;
		 height:40%;

		}
	.panel-transparent .panel-body{background:rgba(241, 241, 255, 0.5); display: inline-block; }
	.panel-transparent .panel-heading{ background: rgba(245, 245, 218, 0.5);}
	.panel-centered{margin: auto;
	position: absolute;
	   
	    left: 50%;
	    top: 40%;
	    transform: translateX(-50%) translateY(-50%);}

	.Landpage-item h2{color: #bf2c50;}
	.Landpage-item p{color:rgb(175, 175, 161);}
	


		.landPanel-1 {background: url("../img/back1.png") center center no-repeat ; }
	
		.landPanel-3 {background: url("../img/back2.png") center center no-repeat  ; }
		




		.btn-nextPanel{
			position: absolute;
			top:95%;
		}

		.btn-index{
			position: fixed;
			top: 0%;
			left: 0%;

		}

		span.Landpage-item-txt, .panel-heading h2{
			font-size: 16px;
		}

		.Landpage-item img{
			width: 100%;
			height: 100%;
		}